# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/

# Uploads
uploads/
src/uploads/

# Firebase keys
**/key_admin.json
**/*-firebase-adminsdk-*.json


/backend/google-drive-credentials.json
google-drive-credentials.json





backend/ENV_SETUP.md
.env
.env.local








